$boxBackground : #282828;
$dawnRed : #EA553E;
$dawnOrange : #EF7D2C;
$dawnYellow : #F4990D;
$dawnPurple : #57368D;
$dawnDeepPurple : #451B6B;

@font-face {
	font-family: "DejaVu Sans";
	src: url('/static/css/dejavu-sans-ttf/DejaVuSans.eot');
	src: url('/static/css/dejavu-sans-ttf/DejaVuSans.eot?#iefix') format('embedded-opentype'),
	url('/static/css/dejavu-sans-ttf/DejaVuSans.svg#DejaVu Sans') format('svg'),
	url('/static/css/dejavu-sans-ttf/DejaVuSans.woff') format('woff'),
	url('/static/css/dejavu-sans-ttf/DejaVuSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@mixin gridcontainer {
	margin: {
		top: 4px;
		right: 4px;
	}
}

@mixin colorborders($colorTop, $colorBottom, $width) {
	border: {
		top: {
			color: $colorTop;
			width: $width;
			style: solid;
		}
		bottom: {
			color: $colorBottom;
			width: $width;
			style: solid;
		}
	}
	background-color: $boxBackground;
}

@mixin fixlinkcolor($color) {
		color: $color;

		&:visited {
			color: $color;
		}

		&:hover {
			color: $color;
		}
}


body{
	font-family: "DejaVu Sans";
	background: linear-gradient(to bottom, #000000 0%,#000000 40%,#8f3123 60%,#8c4c1e 70%,#825818 80%,#36274f 90%,#29163a 100%);
	color: #ffffff;
}

#container {
	margin: 4px;
}


#header {
	@include gridcontainer;
	@include colorborders($dawnRed,$dawnOrange,3px);
	text-align: center;
	vertical-align: middle;
	font-size: 11px;
}

#menu {
	@include gridcontainer;
	@include colorborders($dawnOrange, $dawnOrange, 3px);

	.pure-menu-link {
		@include fixlinkcolor(#ffffff);
		background-color: $boxBackground;

		&:hover {
			background-color: lighten($boxBackground, 20%);
		}
	}
}


.uppercontainer {
	@include gridcontainer;
	@include colorborders($dawnOrange, $dawnYellow,3px);
}

.lowercontainer {
	@include gridcontainer;
	@include colorborders($dawnYellow, $dawnPurple,3px);
}

#footer {
	@include gridcontainer;
	@include colorborders($dawnPurple, $dawnDeepPurple,3px);
	padding: 6px;

	a {
		text-decoration: none;
		color: #1947D1;

		&:visited {
			color: #4C5B89;
		}

		&:hover {
			color: #7E98E5;
		}
	}

}



.textcontainer {
	padding:{
			top: 4px;
			left: 4px;
	}

	font-size: 20px;

	a {
		text-decoration: none;
		color: #1947D1;

		&:visited {
			color: #4C5B89;
		}

		&:hover {
			color: #7E98E5;
		}
	}
}

.button-green {
	@include fixlinkcolor(#ffffff);
	background-color: #1CB841;
}

.button-red {
	@include fixlinkcolor(#ffffff);
	background-color: #ca3c3c;
}

.button-lightblue {
	@include fixlinkcolor(#ffffff);
	background-color: #42B8DD;
}
