@font-face {
  font-family: "DejaVu Sans";
  src: url("/css/dejavu-sans-ttf/DejaVuSans.eot");
  src: url("/css/dejavu-sans-ttf/DejaVuSans.eot?#iefix") format("embedded-opentype"), url("/css/dejavu-sans-ttf/DejaVuSans.svg#DejaVu Sans") format("svg"), url("/css/dejavu-sans-ttf/DejaVuSans.woff") format("woff"), url("/css/dejavu-sans-ttf/DejaVuSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "DejaVu Sans";
  color: #ffffff;
  background-color: #101010;
  background-image: url("background.png");
  background-repeat: repeat;
  background-position: 600px 200px; }

#container {
  margin: 4px; }

#header {
  margin-top: 4px;
  margin-right: 4px;
  border-top-color: #f19224;
  border-top-width: 3px;
  border-top-style: solid;
  border-bottom-color: #f19224;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  background-color: #303030;
  padding: 3px;
  text-align: center;
  font-size: 12px; }

.uppercontainer {
  margin-top: 4px;
  margin-right: 4px;
  border-top-color: #c0ba59;
  border-top-width: 3px;
  border-top-style: solid;
  border-bottom-color: #c0ba59;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  background-color: #303030; }

.lowercontainer {
  margin-top: 4px;
  margin-right: 4px;
  border-top-color: #c0ba59;
  border-top-width: 3px;
  border-top-style: solid;
  border-bottom-color: #c0ba59;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  background-color: #303030; }

#footer {
  margin-top: 4px;
  margin-right: 4px;
  border-top-color: #45b964;
  border-top-width: 3px;
  border-top-style: solid;
  border-bottom-color: #45b964;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  background-color: #303030;
  padding: 6px; }

.textcontainer {
  padding-top: 4px;
  padding-left: 4px;
  font-size: 20px; }

a {
  text-decoration: none;
  color: #5057af; }
  a:visited {
    color: #45b9b3; }
  a:hover {
    color: #a8563f; }
