@font-face {
  font-family: "DejaVu Sans";
  src: url("/static/css/dejavu-sans-ttf/DejaVuSans.eot");
  src: url("/static/css/dejavu-sans-ttf/DejaVuSans.eot?#iefix") format("embedded-opentype"), url("/static/css/dejavu-sans-ttf/DejaVuSans.svg#DejaVu Sans") format("svg"), url("/static/css/dejavu-sans-ttf/DejaVuSans.woff") format("woff"), url("/static/css/dejavu-sans-ttf/DejaVuSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "DejaVu Sans";
  color: #ffffff;
  background-color: #808080;
  background-image: url("background.png"); }

#container {
  margin: 4px; }

#header {
  margin-top: 4px;
  margin-right: 4px;
  border-top-color: #8e5990;
  border-top-width: 3px;
  border-top-style: solid;
  border-bottom-color: #7585a8;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  background-color: #404040;
  padding: 3px;
  text-align: center;
  font-size: 11px; }

#menu {
  margin-top: 4px;
  margin-right: 4px;
  border-top-color: #7585a8;
  border-top-width: 3px;
  border-top-style: solid;
  border-bottom-color: #7585a8;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  background-color: #404040; }
  #menu .pure-menu-link {
    color: #ffffff;
    background-color: #404040; }
    #menu .pure-menu-link:visited {
      color: #ffffff; }
    #menu .pure-menu-link:hover {
      color: #ffffff; }
    #menu .pure-menu-link:hover {
      background-color: #737373; }

.uppercontainer {
  margin-top: 4px;
  margin-right: 4px;
  border-top-color: #7585a8;
  border-top-width: 3px;
  border-top-style: solid;
  border-bottom-color: #829a40;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  background-color: #404040; }

.lowercontainer {
  margin-top: 4px;
  margin-right: 4px;
  border-top-color: #829a40;
  border-top-width: 3px;
  border-top-style: solid;
  border-bottom-color: #e4ab50;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  background-color: #404040; }

#footer {
  margin-top: 4px;
  margin-right: 4px;
  border-top-color: #e4ab50;
  border-top-width: 3px;
  border-top-style: solid;
  border-bottom-color: #a57450;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  background-color: #404040;
  padding: 6px; }

.textcontainer {
  padding-top: 4px;
  padding-left: 4px;
  font-size: 20px; }

a {
  text-decoration: none;
  color: #8e5990; }
  a:visited {
    color: #8e5990; }
  a:hover {
    color: #e4ab50; }
